<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @owner.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @owner.phone %>
</p>
<ul>
  <!--   < % @dogs.each do |puppy| %> -->
  <!--  <li>< %= puppy.name %></li> -->


  <!--  <li>< %= link_to dog.name, dog_path(puppy) %></li>-->
 <!--  < % end %> -->

</ul>
<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
