<div id="notice"><%= notice %></div>

<h1>Details for <%= @dog.name %></h1>

<!-- ID -->
<p>
  <strong>ID: </strong><%= @dog.id %>
</p>

<!-- breed -->
<p>
  <strong>Breed: </strong><%= @dog.breed %>
</p>

<!-- age -->
<p>
  <strong>Age: </strong><%= @dog.age %>
</p>

<!-- owner -->
<p>
  <strong>Owner: </strong><%= @dog.owner %>
</p>


<!-- date added -->

<p>
  <strong>Date Added: </strong><%= @dog.created_at %>
</p>

<%= link_to 'Home', dogs_path, class: 'btn btn-default' %>